/*------------------------------------*\
    FONTS, ICON FONTS CONNECTION
\*------------------------------------*/

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Medium/roboto-medium-webfont.eot');
  src: local('Roboto Medium'), local('RobotoMedium'), 
       url('../fonts/Roboto-Medium/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Roboto-Medium/roboto-medium-webfont.woff') format('woff'),
       url('../fonts/Roboto-Medium/roboto-medium-webfont.woff2') format('woff2'), 
       url('../fonts/Roboto-Medium/roboto-medium-webfont.ttf')  format('truetype'), 
       url('../fonts/Roboto-Medium/roboto-medium-webfont.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Bold/roboto-bold-webfont.eot');
  src: local('Roboto Bold'), local('RobotoBold'), 
       url('../fonts/Roboto-Bold/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Roboto-Bold/roboto-bold-webfont.woff') format('woff'),
       url('../fonts/Roboto-Bold/roboto-bold-webfont.woff2') format('woff2'), 
       url('../fonts/Roboto-Bold/roboto-bold-webfont.ttf')  format('truetype'), 
       url('../fonts/Roboto-Bold/roboto-bold-webfont.svg#Roboto-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

/*
    Icons
*/

@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../fonts/Symbols/symbols-nerds.eot?27841936');
  src: url('../fonts/Symbols/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
       url('../fonts/Symbols/symbols-nerds.woff?27841936') format('woff'),
       url('../fonts/Symbols/symbols-nerds.ttf?27841936') format('truetype'),
       url('../fonts/Symbols/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */





/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

/* Colors */

/* background */
$color-bg: #fff;
$color-bg-shade: #eee;
$color-bg-primary: #fb565a;
$color-bg-muted: #f1f1f1;
$color-bg-primary-hover: #d6494d;
$color-bg-primary-active: #b63538;
$color-bg-primary-shadow: #9b2d30;
$color-bg-add1: #00ca74;
$color-bg-add1-hover: #01a25e;
$color-bg-add1-active: #009053;
$color-bg-add1-shadow: #007b47;
$color-bg-add2: #efc84a;
$color-bg-add2-hover: #d6ae2c;
$color-bg-add2-active: #c09b24;
$color-bg-add2-shadow: #a3841f;
$color-bg-add3: #f1f1f1;
$color-bg-add3-hover: #e5e5e5;
$color-bg-add3-active: #d5d5d5;
$color-bg-add3-shadow: #b5b5b5;
$color-bg-social: #e1e1e1;
$color-bg-action: #c1c1c1;
$color-bg-action-hover: #b5b5b5;
$color-bg-action-disabled: #eaeaea;

/* text */

$color-text: #000;
$color-text-weak: #283136;
$color-text-link: #fff;
$color-text-muted: #666;
$color-text-muted2: #cacaca;
$color-text-hover: #fb565a;
$color-text-link-underline: #00ca74;

/* Fonts */

$font-family-text: Roboto, Arial, sans-serif;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-x-medium: 15px;
$font-size-regular: 16px;
$font-size-large: 18px;
$font-size-x-large: 36px;
$font-size-xx-large: 40px;





/*------------------------------------*\
    HELPER CLASSES
\*------------------------------------*/

.cl:after {
	content: '';
	display: table;
	clear: both;
}

.text-hide {
  overflow: hidden;
}





/*------------------------------------*\
    LAYOUT
\*------------------------------------*/

html, body { 
  box-sizing: border-box;
	width: 100%;
	height: 100%;
  min-width: 880px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page-wrapper {
	width: 100%;
  background: $color-bg;
}

.container {
  width: 880px;
  margin: 0 auto;
}

.page-header {
  padding-top: 13px;
  background: $color-bg-shade;

  &--inner {
    padding-bottom: 85px;
  }
}

.page-content {
  padding-top: 80px;
}

.page-footer {
  padding-top: 78px;
  padding-bottom: 77px;
}





/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

body {
  font-family: $font-family-text;
  font-weight: 400;
  font-size: $font-size-regular;
  line-height: 22px;
  color: $color-text-weak;
}





/*------------------------------------*\
    BASE
\*------------------------------------*/

.link, .btn {
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  display: block;
  padding: 10px;
  font-family: $font-family-text;
  font-weight: 700;
  font-size: $font-size-small;
  line-height: 18px;
  color: $color-text-link;
  text-align: center;
  border-radius: 3px;
  background-color: $color-bg-primary;
  white-space: nowrap;

  &:hover {
    background-color: $color-bg-primary-hover;
  }

  &:active {
    background-color: $color-bg-primary-active;
    box-shadow: inset 0 6px 0 -3px $color-bg-primary-shadow;
  }

  &--add1 {
    background-color: $color-bg-add1;

    &:hover {
      background-color: $color-bg-add1-hover;
    }

    &:active {
      background-color: $color-bg-add1-active;
      box-shadow: inset 0 6px 0 -3px $color-bg-add1-shadow;
    }
  }

  &--add2 {
    background-color: $color-bg-add2;

    &:hover {
      background-color: $color-bg-add2-hover;
    }

    &:active {
      background-color: $color-bg-add2-active;
      box-shadow: inset 0 6px 0 -3px $color-bg-add2-shadow;
    }
  }

  &--add3 {
    background-color: $color-bg-add3;
    color: $color-text;

    &:hover {
      background-color: $color-bg-add3-hover;
    }

    &:active {
      background-color: $color-bg-add3-active;
      box-shadow: inset 0 6px 0 -3px $color-bg-add3-shadow;
    }
  }
}

.logo {
  position: relative;
  display: block;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
  }
}

.page-header__caption {
  margin-top: 64px;
  font-family: $font-family-text;
  font-weight: 400;
  font-size: $font-size-xx-large;
  line-height: 48px;
  color: $color-text;
  text-transform: uppercase;
  text-align: center;
}

/*
    Header
*/

.top-panel {
  margin-bottom: 43px;

  &__logo {
    float: left;
    width: 139px;
    height: 56px;
  }

  &__link {
    font-family: $font-family-text;
    font-weight: 700;
    font-size: $font-size-medium;
    line-height: 30px;
    color: $color-text;
  }
}

.nav {
  margin-left: 320px;
  margin-right: 120px;
  padding-top: 26px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;

    &--active {
      position: relative;
    }
  }

  &__link {
    padding: 7px 18px;

    &:hover {
      color: $color-text-hover;
    }

    &:active {
      color: $color-text;
      opacity: .4;
    }

    &--active::after {
      pointer-events: none;
      content: '';
      position: absolute;
      bottom: 0;
      left: 18px;
      right: 18px;
      height: 2px;
      background-color: $color-text-hover;
    }
  }
}

.cart {
  float: right;
  display: block;
  width: 120px;
  margin-top: 25px;
  text-align: right;

  &:hover {
      color: $color-text-hover;
    }

  &:active {
      color: $color-text;
      opacity: .4;
    }

  i {
    margin-right: 10px;
    opacity: .3;
  }

  &:hover i {
    opacity: 1;
  }

  &:active i {
    color: $color-text;
    opacity: .4;
  }
}

/*
    Footer
*/

.social {

  &__icons {
    float: left;
    width: 260px;
  }

  &__btn {
    display: inline-block;
    vertical-align: middle;
    width: 62px;
    height: 62px;
    margin-right: 23px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: $color-bg-social;
    font-size: 0;
    line-height: 40px;
    text-align: center;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &:hover {
      background-color: $color-bg-primary;
    }

    &:active {
      background-color: $color-bg-primary-hover;
    }

    i {
      font-size: 23px;
    }
  }

  &__text {
    margin-left: 320px;

    p {
      margin: 0;
      font-family: $font-family-text;
      font-weight: 400;
      font-size: $font-size-regular;
      line-height: 22px;
      color: $color-text-weak;
    }
  }

  &__caption {
    margin: 0;
    margin-bottom: 5px;
    font-family: $font-family-text;
    font-weight: 400;
    font-size: $font-size-x-large;
    line-height: 36px;
    color: $color-text;
  }
}





/*------------------------------------*\
    INDEX.HTML
\*------------------------------------*/

/* Slider */

.slider {
  position: relative;
  height: 310px;

  &__input {
    display: none;
  }

  &__controls {
    position: absolute;
    left: 50%;
    bottom: 94px;
    z-index: 10;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
  }

  &__control {
    box-sizing: content-box;
    display: inline-block;
    vertical-align: top;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  &__slides {}

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:nth-child(1) {
      background: $color-bg-shade url(../img/slide1.png) 100% 10px no-repeat;
    }

    &:nth-child(2) {
      background: $color-bg-shade url(../img/slide2.png) 100% 10px no-repeat;
    }

    &:nth-child(3) {
      background: $color-bg-shade url(../img/slide3.png) 100% 0 no-repeat;
    }
  }

  &__text {
      width: 540px;
      padding-top: 30px;

      p {
        margin-bottom: 26px;
      }
    }

  &__caption {
    margin-bottom: 20px;
    font-family: $font-family-text;
    font-weight: 700;
    font-size: $font-size-x-large;
    line-height: 36px;
    color: $color-text;
  }

  &__btn {
    width: 240px;
  }
}

/* Slider Toggle */

/* changing position of toggle */
#radio1:checked ~ .slider__controls label[for="radio1"],
#radio2:checked ~ .slider__controls label[for="radio2"],
#radio3:checked ~ .slider__controls label[for="radio3"] {
  background-color: #c1c1c1;
}

/* changing slide */
#radio1:checked ~ .slider__slides .slider__slide:nth-child(1) {
  display: block;
}

#radio2:checked ~ .slider__slides .slider__slide:nth-child(2) {
  display: block;
}

#radio3:checked ~ .slider__slides .slider__slide:nth-child(3) {
  display: block;
}

/*
    Main
*/

/* Section Services */

.services {

  &::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: $color-bg-shade;
  }
}

.service {
  float: left;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 80px;

  &:last-child {
    margin-right: 0;
  }

  &__img-wrapper {
    position: relative;
    float: left;
    width: 240px;
    height: 124px;
    margin-bottom: 23px;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin: auto;
    }
  }

  &__caption {
    margin-bottom: 14px;
    font-family: $font-family-text;
    font-weight: 400;
    font-size: $font-size-large;
    line-height: 30px;
    color: $color-text;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 25px;
    font-family: $font-family-text;
    font-weight: 400;
    font-size: $font-size-x-medium;
    line-height: 22px;
    color: $color-text-weak;
  }

  &__btn {
    width: 140px;
  }
}

/* Section About */

.about {
  padding-top: 59px;

  &::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: $color-bg-shade;
  }
  
  &__main {
    margin-right: 280px;
  }

  &__caption {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: $font-family-text;
    font-weight: 700;
    font-size: $font-size-x-large;
    line-height: 36px;
    color: $color-text;
  }

  p {
    font-family: $font-family-text;
    font-weight: 400;
    font-size: $font-size-regular;
    line-height: 22px;
    color: $color-text-weak;
  }

  &__aside {
    float: right;
    width: 240px;
  }

  &__logo {
    position: relative;
    left: 4px;
    width: 187px;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 26px;
  }

  &__logo-text {
    margin-bottom: 64px;
    text-align: center;

    span {
      position: relative;
      z-index: 10;
      padding-left: 14px;
      padding-right: 14px;
      background-color: $color-bg;
      font-family: $font-family-text;
      font-weight: 400;
      font-size: $font-size-regular;
      line-height: 22px;
      color: $color-text-weak;
    }

    &::after {
      content: '';
      position: relative;
      top: -12px;
      z-index: 1;
      display: block;
      border-bottom: 2px solid $color-bg-shade;
    }
  }
}

/* List */

.list {
  margin-top: 42px;
  margin-bottom: 75px;

  &__caption {
    margin-bottom: 26px;
    font-family: $font-family-text;
    font-weight: 400;
    font-size: $font-size-regular;
    line-height: 22px;
    color: $color-text-weak;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    margin-left: 37px;
    font-family: $font-family-text;
    font-weight: 400;
    font-size: $font-size-regular;
    line-height: 16px;
    color: $color-text;
  }

  &__item + &__item {
    margin-top: 27px;
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -37px;
    width: 25px;
    height: 2px;
    background-color: $color-bg-primary;
  }
}

/* Section Clients */

.clients {
  padding-top: 37px;
  margin-bottom: 85px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-bg-shade;
  }
}

.client {
  position: relative;
  left: -10px;
  display: inline-block;
  vertical-align: middle;
  width: 240px;
  margin-right: 76px;
  margin-bottom: 33px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  &__link {
    display: inline-block;
    background: $color-bg url(../img/sprite-clients-set.png) 0 0 no-repeat;
    font-size: 0;
    opacity: .2;

    &:hover {
      opacity: 1;
    }
  }

  &__link1 {
    width: 198px;
    height: 37px;
    background-position: -5px -5px;
  }

  &__link2 {
    width: 199px;
    height: 68px;
    background-position: -5px -52px;
  }

  &__link3 {
    width: 209px;
    height: 90px;
    background-position: -5px -130px;
  }
}

/* Section Contacts */

.contacts-wrapper {
  position: relative;
}

.map {
  height: 416px;
  background: #e9e5dc url(../img/map.jpg) center center no-repeat;
  background-size: cover;
}

.contacts {
  position: absolute;
  top: 88px;
  width: 250px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 22px;
  padding-right: 23px;
  background-color: $color-bg;

  &__caption {
    margin: 0;
    margin-bottom: 10px;
    font-family: $font-family-text;
    font-weight: 400;
    font-size: $font-size-regular;
    line-height: 30px;
    color: $color-text;
    text-transform: uppercase;
  }

  &__address {
    margin-bottom: 30px;
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-regular;
    line-height: 20px;
    color: $color-text-muted;
  }

  &__phone {
    margin-top: 20px;
  }

  &__btn {
    width: 204px;
  }
}

/* Animation for Popup Appearance */

@keyframes appearance {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Popup Form */

.popup {
  position: fixed;
  bottom: 25%;
  left: 50%;
  display: none;
  width: 630px;
  padding-top: 55px;
  padding-bottom: 49px;
  padding-left: 80px;
  padding-right: 90px;
  margin-left: -315px;
  background-color: $color-bg;
  font-size: 0;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);

  &--show {
    display: block;
    animation: appearance .7s;
  }

  &--no-js {
    display: block;
    position: static;
    margin: 0 auto;
  }

  &__container {
    position: relative;
  }

  &__close {
    position: absolute;
    top: -49px;
    right: -84px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: $color-bg-primary;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      content: '';
      width: 27px;
      height: 5px;
      background-color: $color-bg;
      transform: rotate(45deg);
    }

    &::after {
      @extend &::before;
      transform: rotate(-45deg);
    }
  }

  &__form {}

  &__row {
    margin-bottom: 23px;
    font-size: 0;

    &:last-of-type {
      margin-bottom: 48px;
    }
  }

  &__column {
    display: inline-block;
    width: 220px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-regular;
    line-height: 18px;
    color: $color-text;
  }

  &__input {
    width: 220px;
    padding: 9px 14px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
    outline: none;
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-small;
    line-height: 18px;
    color: $color-text;
    text-transform: uppercase;

    &:hover {
      border-color: #a2a9ac;
    }

    &:focus {
      border-color: #56bffb;
    }

    &::-moz-placeholder {
      color: $color-text;
      opacity: 1;
    }

    &:-moz-placeholder {
      color: $color-text;
      opacity: 1;
    }

    &:-ms-input-placeholder { 
      color: $color-text; 
      opacity: 1;
    }

    &::-webkit-input-placeholder { 
      color: $color-text; 
      opacity: 1;
    }
  }

  &__textarea {
    @extend .popup__input;
    display: block;
    width: 460px;
    height: 114px;
    resize: none;
  }

  &__btn {
    display: inline-block;
    width: 220px;
    margin-right: 20px;
    border: none;
    outline: none;

    &:last-of-type {
      margin-right: 0;
    }
  }
}





/*------------------------------------*\
    CATALOG.HTML
\*------------------------------------*/

/* Filter Form */

.form {
  position: relative;
  top: -8px;
  float: left;
  width: 240px;
  overflow: hidden;

  &__fieldset {
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    border: none;

    &:last-of-type {
      margin-bottom: 60px;
    }
  }

  &__caption {
    margin: 0;
    margin-bottom: 15px;
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-large;
    line-height: 30px;
    color: $color-text;
    text-transform: uppercase;
  }

  &__label {
    position: relative;
    display: block;
    padding-left: 35px;
    margin-bottom: 20px;
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-regular;
    line-height: 20px;
    color: $color-text-weak;

    &:last-of-type {
      margin-bottom: 0;
    }

    /* Passive radio */
    &::before {
      content: '\25cb';
      position: absolute;
      top: 0;
      left: 0;
      font-family: "symbols-nerds";
      font-size: 28px;
      color: $color-bg-action;
    }

    /* Passive checkbox */
    &--checkbox {
      &::before {
      content: '\2610';
      }
    }
  }

  &__radio {
    display: none;

    &:checked + .form__label:active::before { /* Active radio becomes passive at the same time when click on label */
      @extend .form__label::before;
    }

    &:checked + .form__label::before, /* Active radio */
    & + .form__label:active::before { /* Passive radio becomes active when click on label */
      content: '\25cf';
    }

    & + .form__label:hover { /* Changing color of label */
      cursor: pointer;
      color: $color-text;
    }

    & + .form__label:hover::before { /* Changing color of radio */
      cursor: pointer;
      color: $color-bg-action-hover;
    }

    &:disabled + .form__label { /* Changing color of label */
      cursor: default;
      color: #bdbfc0;
    }

    &:disabled + .form__label::before { /* Changing color of radio */
      content: '\25cb';
      cursor: default;
      color: $color-bg-action-disabled;
    }
  }

  &__checkbox {
    display: none;

    &:checked + .form__label:active::before { /* Active checkbox becomes passive at the same time when click on label */
      @extend .form__label::before;
    }

    &:checked + .form__label::before, /* Active checkbox */
    & + .form__label:active::before { /* Passive checkbox becomes active when click on label */
      content: '\2611';
    }

    & + .form__label:hover { /* Changing color of label */
      cursor: pointer;
      color: $color-text;
    }

    & + .form__label:hover::before { /* Changing color of checkbox */
      cursor: pointer;
      color: $color-bg-action-hover;
    }

    &:disabled + .form__label { /* Changing color of label */
      cursor: default;
      color: #bdbfc0;
    }

    &:disabled + .form__label::before { /* Changing color of checkbox */
      content: '\2610';
      cursor: default;
      color: $color-bg-action-disabled;
    }
  }

  &__btn {
    width: 153px;
    border: none;
    outline: none;
  }
}

/* Price Filter */

.filter {
  width: 240px;

  &__range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 14px;
    padding: 0 30px;
    background-color: $color-bg-muted;
    border-radius: 4px;
    overflow: hidden;
  }

  &__scale {
    height: 2px;
    margin-top: 39px;
    background-color: #d7dcde;
  }

  &__bar {
    width: 70%;
    height: 2px;
    background-color: #00ca74;
  }

  &__toggle {
    box-sizing: content-box;
    position: absolute;
    top: 30px;
    left: 20px;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background-color: #ababab;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 0 0 rgba(0, 1, 1, .14);
  }

  &__toggle--min {}

  &__toggle--max {
    left: 160px;
  }

  &__price-controls {}

  &__price-column {
    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }
  }

  &__label {
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-regular;
    line-height: 22px;
    color: $color-text-weak;
    text-transform: uppercase;
  }

  &__input {
    @extend .filter__label;
    width: 80px;
    margin-left: 7px;
    padding: 8px 5px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: $color-bg-muted;
    text-align: center;
  }
}

/* Catalog */

.catalog {
  margin-left: 320px;
  font-size: 0;
}

/* Sorting Row */

.sorting {
  margin-bottom: 13px;
  font-size: 0;

  &__caption {
    float: left;
    width: 110px;
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-small;
    line-height: 18px;
    color: $color-text;
    text-transform: uppercase;
    overflow: hidden;
  }

  &__list {
    margin: 0;
    margin-left: 128px;
    margin-right: 60px;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 46px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-small;
    line-height: 18px;
    color: $color-text-muted2;
    border-bottom: 1px dotted $color-text-link-underline;

    &:hover {
      color: $color-text;
      border-bottom: 1px solid $color-text-link-underline;
    }

    &:active {
      color: $color-text;
      border: none;
    }
  }

  &__arrows {
    position: relative;
    float: right;
    width: 50px;
    text-align: right;
  }

  &__arrow {
    position: absolute;
    top: -5px;
    right: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    font-size: 23px;
    text-decoration: none;
    color: $color-text-muted2;

    &:last-child {
      top: -5px;
      right: 0;
    }

    &:hover {
      color: $color-bg-action-hover;
    }

    &:active {
      color: $color-text;
    }
  }

  &__arrow--active {
    color: $color-text-link-underline;
  }
}

/* Catalog Item */

.catalog-item {
  position: relative;
  display: inline-block;
  width: 240px;
  margin-bottom: 80px;
  margin-right: 80px;

  &:nth-child(odd) {
    margin-right: 0;
  }

  &:hover &__top {
    background-color: #797979;
  }

  &:hover &__info {
    display: block;
  }

  &__top {
    height: 30px;
    padding-top: 10px;
    padding-left: 12px;
    background-color: $color-bg-muted;
    border-radius: 4px 4px 0 0;
    font-size: 0;

    i {
      display: inline-block;
      vertical-align: top;
      width: 10px;
      height: 10px;
      margin-right: 7px;
      border-radius: 50%;
      background-color: $color-bg;
    }
  }

  &__img-wrapper {
    position: relative;
    display: block;
    width: 240px;
    height: 240px;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin: auto;
    }
  }

  &__info {
    position: absolute;
    top: 50px;
    left: 20px;
    display: none;
    width: 200px;
    height: 200px;
    padding-top: 33px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $color-bg;
    text-align: center;
  }

  &__caption {
    margin: 0;
    margin-bottom: 15px;
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-large;
    line-height: 24px;
    color: $color-text;
  }

  &__link {
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-large;
    line-height: 24px;
    color: $color-text;
  }

  p {
    margin: 0;
    margin-bottom: 30px;
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-medium;
    line-height: 18px;
    color: $color-text-weak;
  }

  &__btn {
    width: 140px;
  }
}

/* Pagination */

.pagination {
  margin: 0;
  margin-bottom: 79px;
  padding: 0;
  list-style: none;
  font-size: 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    min-width: 38px;
    height: 38px;
    margin-right: 10px;
    background-color: $color-bg-muted;
    border-radius: 4px;
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-small;
    line-height: 38px;
    color: $color-text;
    text-align: center;

    &:hover {
      background-color: $color-bg-add3-hover;
    }

    &:active {
      background-color: $color-bg-add3-active;
      box-shadow: inset 0 6px 0 -3px $color-bg-add3-shadow;
    }

    &--active {
      background-color: $color-bg;
      border: 2px solid $color-bg-muted;
      line-height: 34px;

      &:hover, &:active {
        background-color: $color-bg;
        box-shadow: none;
      }
    }
  }

  &__link {
    padding: 10px 8px;
    font-family: $font-family-text;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-small;
    line-height: 18px;
    color: $color-text;

    &--next {
      padding-left: 31px;
      padding-right: 31px;
    }
  }
}